*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

body {
  margin: 0;
  font-family: $base-font;
  color: $text-grey;
  font-size: 14px;
  line-height: 18px;
  max-width: 1440px;
}

a {
  text-decoration: none;
}
