$black: #000000;
$white: #ffffff;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
$text-grey: #444444;
$title-grey: #222222;
$light-grey: #e6e6e6;

//брейкпоинты
$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

$padding-mobile: 20px;
$padding-tablet: 30px;
