.catalog__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 60px;
    row-gap: 60px;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    position: relative;

    &::before {
      @include over-line;
      background-color: $light-grey;
      top: 0;
      box-shadow: 100vw 0 0 $light-grey;
    }

    &:last-child::after {
      @include over-line;
      background-color: $light-grey;
      bottom: 0;
      box-shadow: 100vw 0 0 $light-grey;
    }
  }
}
