.hero {
  color: $white;
  position: relative;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    position: static;
    padding-top: 80px;
    padding-bottom: 82px;
  }
}

//серая подложка и зеленый кот
.hero__gradient {
  position: absolute;
  content: "";
  width: 100%;
  height: 302px;
  top: 0;
  right: 0;
  background: linear-gradient(to right, #4f4f54, #444247);
  z-index: -2;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../../images/hero-bg-mobile@2x.png") 50% 0 no-repeat;
    z-index: -1;
    background-size: contain;

    @media (min-width: $desktop-width) {
      background: url("../../images/hero-bg-desktop@1x.png") left top no-repeat;
      background-size: cover;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 50%;
    height: 694px;
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    padding-left: 90px;
    padding-right: 90px;
    min-height: 810px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 610px;
    min-height: 520px;
    position: static;
  }
}

.hero__title {
  margin: 0;
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    color: $white;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }
}

.hero__text {
  font-family: $title-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    color: $black;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.hero__image {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 143px;
    transform: translate(-30%);
  }
}

.hero__link {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: auto;
    padding-left: 26px;
    padding-right: 26px;
  }
}
