.main-nav {
  @media (max-width: $mobile-width-only) {
    min-height: 198px;

    &--opened {
      position: absolute;
      z-index: 3;
      background-color: $white;
      width: 100%;
    }

    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }
}

.main-nav__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    min-width: 436px;
  }
}

.main-nav__item {
  @media (max-width: $mobile-width-only) {
    border-top: 2px solid #e6e6e6;
  }
}

.main-nav__item:last-child {
  @media (max-width: $mobile-width-only) {
    border-bottom: 2px solid #e6e6e6;
  }
}

.main-nav__link {
  color: $black;
  display: block;
  padding: 22px;
}
