.product {
  padding-top: 20px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 18px;

  &--show-more {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 0;
  }
}

.product__img-wrapper {
  display: flex;
  min-width: 140px;
  justify-content: center;
  align-items: center;
}

.product--show-more .product__link {
  padding-top: 53px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 0;
    left: 50%;
    background-image: url("../../images/icons/stack.svg#plus-show-more");
    transform: translate(-50%);
  }
}

.product__title {
  color: $title-grey;
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 16px;
  padding-right: 64px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }

  &--show-more {
    color: #111111;
    padding-right: 0;
    margin-bottom: 8px;
  }
}

.product__content {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.product--show-more .product__content {
  margin-bottom: 20px;
}

.product__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.product__value {
  margin-left: 0;
}

.product__button {
  grid-column: 1/-1;
}
