.program {
  display: flex;
  flex-direction: column;
  background-color: $basic-grey;
  position: relative;
  padding: 30px 30px 4px 20px;
  height: 100%;

  @media (min-width: $tablet-width) {
    padding: 77px 316px 43px 52px;
    min-height: 372px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 43px 52px;
    min-height: 374px;
  }
}

.program__decor {
  background-color: $basic-green;
  position: absolute;
  top: 24px;
  left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
    left: auto;
    right: 62px;
    top: 92px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
    left: 52px;
    top: 48px;
  }

  &--slim::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 50px;
    left: 7px;
    top: -3px;
    background-image: url("../../images/icons/stack.svg#cat-slim");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
    }
  }

  &--pro::after {
    position: absolute;
    content: "";
    width: 67px;
    height: 28px;
    left: -8px;
    top: 11px;
    background-image: url("../../images/icons/stack.svg#cat-pro");
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 112px;
      left: -32px;
      top: 44px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;
      top: 20px;
      left: -18px;
    }
  }
}

.program__title {
  font-family: $title-font;
  color: $black;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  padding-left: 90px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 72px;
  }
}

.program__description {
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    color: $black;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.program__link {
  color: $black;
  font-family: $title-font;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 14px;
  display: block;
  margin-top: auto;
}
