// .promo {

// }

.promo__wrapper {
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    height: 80px;
    width: 78px;
    background-image: url("../../images/icons/stack.svg#icon-gift");
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.promo__image {
  background-color: $basic-green;
  width: 100%;
  height: 290px;
  object-fit: cover;
}

.promo__text {
  color: $white;
  font-size: 16px;
  line-height: 20px;
}
