.slider {
  @media (min-width: $tablet-width) {
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
    grid-column: 2/-1;
  }
}

.slider__grid-wrapper {
  position: relative;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 560px;
  }
}

.slider__wrapper {
  overflow-x: hidden;

  &--after {
    display: flex;
    justify-content: flex-end;
  }
}

.slider__image {
  min-height: 256px;
  max-width: none;
}

.slider__button {
  background-color: $white;
  position: absolute;
  display: flex;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #666666;
  border: #666666 solid 2px;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    transform: translate(-50%, -50%);
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 110px;
    background-color: #666666;
    border-radius: 4px;
    left: 50%;
    top: -110px;
    transform: translate(-50%);

    @media (min-width: $tablet-width) {
      height: 236px;
      top: -236px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 4px;
    height: 110px;
    background-color: #666666;
    border-radius: 4px;
    left: 50%;
    top: 100%;
    transform: translate(-50%);

    @media (min-width: $tablet-width) {
      height: 236px;
      bottom: 236px;
    }
  }

  &:hover,
  &:focus {
    color: $basic-green;
    border-color: $basic-green;
    outline: none;
  }

  &:active {
    color: #5eaa2f;
    border-color: #5eaa2f;
    opacity: 0.6;
  }
}

.slider__button:hover.slider__button::before,
.slider__button:hover.slider__button::after,
.slider__button:focus.slider__button::before,
.slider__button:focus.slider__button::after {
  background-color: $basic-green;
}

.slider__button:active.slider__button::before,
.slider__button:active.slider__button::after {
  background-color: #5eaa2f;
  opacity: 0.6;
}
