.slider__button {
  display: flex;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #666666;
  border-width: 2px;
  border-color: #666666;
  background-color: $white;
  border-style: solid;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $basic-green;
    border-color: $basic-green;
  }
}
