.slider__button {
  cursor: pointer;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #666666;
  border-width: 2px;
  border-color: #666666;
  background-color: $white;
  border-style: solid;

  &:hover {
    color: $basic-green;
    border-color: $basic-green;
  }
}
