.submit-form__fieldset,
.submit-form__input,
.submit-form__textarea {
  font-family: $title-font;
  color: $text-grey;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.submit-form__description {
  color: $black;
  font-family: $title-font;
  text-transform: uppercase;
}

.submit-form__subtitle {
  color: $black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.submit-form__info {
  color: $black;
  font-family: $base-font;
  font-size: 14px;
  line-height: 16px;
}
